{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/cart.css') }}">
{% endblock %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="article">
            <img src="{{ asset('images/coeur.png') }}" class="photo">
            <div class="nom">
                <h2>Rolex</h2>
                <p>réf : K72Q</p>
            </div>
            <div class="quantity">
                <input type="number" min="1" value="1">
            </div>
            <div class="price">
                <p>1 000 €</p>
            </div>
            <img src="{{ asset('images/poubelle.png') }}" class="bean">
        </div>

        <div class="recap">
            <div class="info1">
                <p>Nom :</p>
                <p class="price">prix €</p>
            </div>
            <div class="info2">
                <p>Livraison :</p>
                <p class="price">prix €</p>
            </div>
            <hr>
            <div class="total">
                <p>Total :</p>
                <p class="total-price">prix €</p>
            </div>
            <div class="button">
                <button class="validation">Valider mon panier</button>
            </div>
            <div class="secure">
                <p>Paiement 100% sécurisé</p>
            </div>
        </div>
    <div>
{% endblock %}
