{% extends 'base.html.twig' %}

{% block title %}Debug - LuxWatch{% endblock %}

{% block body %}
    <div class="container">
        <h1>Debug</h1>
        
        <h2>User</h2>
        <pre>{{ dump(user) }}</pre>
        
        <h2>Watches</h2>
        {% if user.watches is defined %}
            {% for watch in user.watches %}
                <h3>Watch #{{ watch.id }}</h3>
                <pre>{{ dump(watch) }}</pre>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %} 