{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
{% endblock %}

{% block title %}LuxWatch{% endblock %}

{% block body %}
<div class="wrapper">
    <h1><b>Connexion</b></h1>
    <form>
        <label>Mail / Nom d'utilisateur</label>
        <input type="text" placeholder="Entrez votre mail ou nom d'utilisateur">

        <label>Mot de passe</label>
        <input type="text" placeholder="Entrez votre mot de passe">

        <input type="checkbox" id="checkbox">
        <label class="remember" for="checkbox">Se souvenir de moi</label>

        <button type="button">Connexion</button>
    </form>
</div>
{% endblock %}
